* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

/* -----Main Page----- */
.main-window {
  position: relative;
}

.intro-video {
  width: 100%;
  object-fit: contain;
  object-position: center;
  position: relative;
}

/* -----Nav Bar----- */
.navbar {
  background-color: #eee;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 24px;
}

.nav-container1 {
  display: flex;
  position: relative;
  align-items: center;
}

.logo {
  padding-left: 0;
  height: 1.6rem;
}

.menu-list {
  display: none;
}

.nav-container2 {
  display: none;
}

.nav-container2-m {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
}

.hamburger1,
.hamburger2,
.hamburger3 {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: 0.3s ease all;
}

.hamburger1 {
  top: 4px;
  transition: 0.2s;
}

.hamburger2 {
  top: 10px;
  transition: 0.2s;
}

.hamburger3 {
  top: 16px;
  transition: 0.2s;
}

.change .hamburger1 {
  transform: translate(-0px, 6px) rotate(45deg);
  -webkit-transform: translate(0px, 6px) rotate(45deg);
  -moz-transform: translate(0px, 6px) rotate(45deg);
}

.change .hamburger2 {
  opacity: 0;
}

.change .hamburger3 {
  transform: translate(-0px, -6px) rotate(-45deg);
  -webkit-transform: translate(-0px, -6px) rotate(-45deg);
  -moz-transform: translate(-0px, -6px) rotate(-45deg);
}

/* -----Main Window ----*/
.main-window {
  position: relative;
  background-color: #eee;
}

.container-title {
  position: absolute;
  width: 200px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-title {
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.container-blurb {
  margin: 0 auto;
  padding: 24px 0;
  width: 300px;
  text-align: center;
}

.splash-blurb {
  margin: 20px 0 44px 0;
  font-family: lucida-sans, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.2em;
}

.splash-button {
  border: 0;
  border-radius: 0;
  margin-bottom: 24px;
  height: 37px;
  width: 250px;
  background-color: #ff7c55;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
}

.splash-button:hover {
  background-color: #000;
  color: #fff;
}

/* -----Beige Section----- */
.section-beige {
  display: flex;
  background-color: #f4eade;
}

.section-beige-desktop {
  display: none;
}

.beige-col1a,
.beige-col2a {
  padding-top: 41px;
}

.beige-col3a,
.beige-col4a,
.beige-col5a {
  padding-top: 40px;
}

.beige-col1a img,
.beige-col2a img,
.beige-col3a img,
.beige-col4a img,
.beige-col5a img {
  margin: 0 auto;
}

.beige-col1a p,
.beige-col2a p,
.beige-col3a p,
.beige-col4a p,
.beige-col5a p {
  font-size: 0.7rem;
  width: 160px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

/* -----Brown Section----- */
.section-brown {
  background-color: #dcd5ce;
  padding: 26px 30px 30px;
}

.brown-container {
  max-width: none;
}

.brown-row1 {
  padding: 20px 0 50px;
  display: block;
}

.brown-row1-col1 {
  width: 100%;
  padding-bottom: 23px;
}

.brown-row1-col1 h2 {
  padding: 0;
  margin: 0;
  font-size: 31px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.brown-row1-col2 {
  width: 100%;
  max-width: 660px;
}

.brown-row1-col2 p {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  padding: 0;
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.brown-learn-more {
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding: 0 2px 2px 0;
}

.brown-row2 {
  display: block;
  justify-content: center;
}

.brown-row2-col {
  width: 100%;
}

.brown-image1-container,
.brown-image2-container,
.brown-image3-container {
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
}

.brown-image1-container {
  background-image: url("../img/hiwa_m_3x.jpg");
}

.brown-image2-container {
  background-image: url("../img/hiwb_m_3x.jpg");
}

.brown-image3-container {
  background-image: url("../img/hiwc_m_3x.jpg");
}

.brownImage1,
.brownImage2,
.brownImage3 {
  display: block;
  width: 100%;
  height: auto;
}

.brown-numbers {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2.25rem;
  font-weight: 300;
}

.brown-title {
  margin: 25px 0 14px;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.brown-text {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 20px;
}

.brown-text1-container,
.brown-text2-container,
.brown-text3-container {
  padding-bottom: 27px;
}

/* -----Pic-Lg Section----- */
.section-pic-lg {
  width: 100%;
  height: 280px;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(../img/We_ve_Got_Your_Back_2x.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100%;
}

.pic-lg-container {
  position: absolute;
  width: 100%;
  top: 32%;
  text-align: center;
}

.pic-lg-title {
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: 1px;
}

.pic-lg-button {
  background-color: #ff7c55;
  border: 0;
  border-radius: 0;
  height: 37px;
  width: 250px;
  font-family: lucida-sans, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
}

.pic-lg-button:hover {
  background-color: #000;
  color: #fff;
}

/* -----Light Blue Section----- */
.light-blue {
  width: 100%;
  background-color: #e1e4ee;
  padding: 45px 0 90px;
}

.light-blue-container {
  padding: 0 30px;
  width: 100%;
  max-width: none;
  margin: 0 auto;
}

.light-blue-row1 {
  width: 80%;
  margin: 0;
  text-align: left;
}

.light-blue-title {
  margin: 0;
  font-weight: 300;
  font-size: 2rem;
}

.light-blue-text {
  margin: 22px 0 42px;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 23px;
  letter-spacing: 0;
}

.light-blue-row2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.light-blue-row2-col1 {
  width: 49%;
}

.light-blue-row2-col2 {
  width: 49%;
}

.light-blue-row2-col1-rowa,
.light-blue-row2-col2-rowa {
  border: 1px dashed #000;
  height: 128px;
  text-align: center;
  padding-top: 18px;
}

.light-blue-row2-col1-rowb,
.light-blue-row2-col1-rowc,
.light-blue-row2-col1-rowd,
.light-blue-row2-col1-rowe,
.light-blue-row2-col2-rowb,
.light-blue-row2-col2-rowc,
.light-blue-row2-col2-rowd,
.light-blue-row2-col2-rowe {
  height: 95px;
  border-bottom: 1px dashed #000;
  border-left: 1px dashed #000;
  border-right: 1px dashed #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.light-blue-row2-col1-rowa {
  background-color: #ff7c55;
}

.light-blue-row2-col1-rowb,
.light-blue-row2-col1-rowc,
.light-blue-row2-col1-rowd,
.light-blue-row2-col1-rowe {
  background-color: #e7e7e7;
}

.light-blue-row2-col2-rowf {
  text-align: left;
  position: relative;
  padding-top: 20px;
}

.light-blue-title-a-row2 {
  margin-top: 16px;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.light-blue-title-b-row2 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 2.17rem;
  letter-spacing: 1px;
  position: relative;
}

.dollar-sign {
  font-size: 0.8rem;
  vertical-align: super;
}

.light-blue-text-row2 {
  margin: 0;
  padding-left: 20px;
  font-weight: 300;
  font-size: 0.85rem;
}

.cross {
  width: 13px;
  height: 13px;
}

.remodeler-link {
  position: absolute;
  left: -75px;
  top: 32px;
  width: 150px;
  color: #000;
  font-size: 0.75rem;
  font-weight: 300;
}

/* -----Pic-Lg Section----- */
.bathroom-photo {
  width: 100%;
  height: 280px;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(../img/Build_Bathroom_For_Life_2x.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 102%;
}

.pic-bathroom-container {
  position: absolute;
  width: 100%;
  top: 32%;
  text-align: center;
}

.pic-bathroom-title {
  margin: 0 0 28px;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: 1px;
}

.pic-bathroom-button {
  background-color: #ff7c55;
  border: 0;
  border-radius: 0;
  height: 37px;
  width: 250px;
  font-family: lucida-sans, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
}

.pic-bathroom-button:hover {
  background-color: #000;
  color: #fff;
}

/* -----Light Grey Section----- */

.section-light-grey {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
  text-align: center;
  position: relative;
}

.light-grey-container {
  padding: 30px 0px 50px 0;
  display: block;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  position: relative;
}

.light-grey-col1 {
  height: 263px;
  width: 100%;
  max-width: none;
  padding: 0 30px;
  position: relative;
  text-align: left;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.light-grey-col2 {
  width: 100%;
  height: auto;
  position: relative;
}

.light-grey-container2 {
  width: 100%;
  position: relative;
}

.light-grey-img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.light-grey-title {
  margin: 0;
  font-weight: 300;
  font-size: 2rem;
  padding: 9px 0 0 0;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.light-grey-text1 {
  width: 100%;
  padding: 0;
  font-weight: 300;
  font-size: 1rem;
  line-height: 25px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.underline {
  margin-right: 0px;
  border-top: 1px dashed #000;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 100%;
}

.light-grey-text2 {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0 32px 0 0;
  font-weight: bold;
  font-size: 0.75rem;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.light-grey-text3 {
  margin: 0;
  padding: 0 32px 16px 0;
  font-weight: 400;
  font-size: 0.8rem;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.light-grey-button {
  display: none;
}

.light-grey-button-m {
  display: block;
  position: relative;
  margin-top: 10px;
  background-color: #ff7c55;
  border: 0;
  border-radius: 0;
  height: 45px;
  width: 100%;
  max-width: 250px;
  font-family: lucida-sans, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
  left: 50%;
  transform: translate(-50%);
}

.prev-link,
.next-link {
  background-color: #ff7c55;
  position: absolute;
  height: 45px;
  width: 45px;
  transition: background-color 0.1s ease-in;
}

.prev-link {
  bottom: 0;
  left: 0;
}

.next-link {
  bottom: 0;
  right: 0;
}

.prev-link-gone {
  display: none;
}

.next-link-gone {
  display: none;
}

.prev1 {
  height: 45px;
  width: 45px;
  background-image: url(../img/arrow-black.d28a9f3c.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
  transition: color 0.1s ease-in;
}

.next1 {
  height: 45px;
  width: 45px;
  background-image: url(../img/arrow-black.d28a9f3c.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: color 0.1s ease-in;
}

.light-grey-button:hover,
.prev-link:hover,
.next-link:hover {
  background-color: #000;
  color: #fff;
}

.prev1:hover,
.next1:hover {
  background-image: url(../img/arrow-white.11bad665.svg);
}

.light-grey-col2-blurb {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.light-grey-col2-text {
  font-weight: 400;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

.light-grey-button-m:hover {
  background-color: #000;
  color: #fff;
}

/* -----Peach Section----- */
.section-peach {
  background-color: #f6eadd;
  width: 100%;
}

.peach-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.peach-row1 {
  width: 100%;
  padding: 0 30px;
  text-align: left;
}

.peach-title {
  margin: 0;
  padding-top: 50px;
  font-weight: 300;
  font-size: 2rem;
  font-size: 2.45rem;
}

.peach-text {
  margin: 0;
  padding-top: 30px;
  font-size: 1rem;
  font-weight: 300;
}

.peach-row2 {
  margin: 33px 30px 0;
  display: block;
  justify-content: center;
}

.peach-row2-col1 {
  width: 100%;
  margin-right: 0;
  padding-bottom: 0;
  margin-bottom: 30px;
  background-color: #e0dfdf;
}

.peach-row2-col2 {
  width: 100%;
  margin-left: 0px;
  background-color: #e0dfdf;
}

.peach-row2-col1-container,
.peach-row2-col2-container {
  padding: 30px;
  height: auto;
  position: relative;
}

.review-name {
  margin-top: 17px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 0.9rem;
}

.review-location {
  margin-top: 10px;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.review-stars {
  display: flex;
}

.review-star {
  padding-bottom: 10px;
}

.review-headline {
  position: relative;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 1.45em;
  padding-bottom: 6px;
}

.review-text {
  position: relative;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.6px;
  line-height: 1.45em;
  padding-right: 10px;
  padding-bottom: 14px;
}

.review-link {
  color: #000;
  font-size: 0.75rem;
  font-weight: bold;
}

.review-thumbnails {
  position: relative;
  bottom: 0;
  padding: 26px 0 20px;
  display: flex;
}

.review-pic {
  width: 60px;
  height: 50px;
  padding-right: 10px;
  cursor: pointer;
}

.washed-out-image {
  background-color: #fff;
  height: 50px;
  width: 60px;
  position: relative;
}

.review-pic3a {
  opacity: 0.4;
  width: 60px;
  object-fit: cover;
  object-position: left;
  background-color: #fff;
  padding-right: 0;
}

.review-pic-num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.peach-row3 {
  margin-top: 48px;
  padding: 0 30px 53px;
  text-align: center;
}

.review-button {
  background-color: #ff7c55;
  border: 0;
  border-radius: 0;
  height: 37px;
  width: 100%;
  font-family: lucida-sans, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
}

.review-button:hover {
  color: #fff;
  background-color: #000;
}

/* -----Footer Section----- */
.footer {
  background-color: #000;
  color: #ff7c55;
  height: auto;
}

.footer-container {
  padding: 10px 30px 122px 30px;
  display: block;
  width: 100%;
  max-width: none;
  margin: 0 auto;
}

.footer-col1,
.footer-col2,
.footer-col3,
.footer-col4 {
  width: 100%;
  margin: 0;
  margin-right: 30px;
  border-top: 1px dashed #ff7c55;
}

.footer-col5 {
  width: 100%;
  border-top: 1px dashed #ff7c55;
}

.footer-col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 40px 0 60px;
}

.footer-col1-text1 {
  font-size: 2rem;
}

.footer-col2 {
  padding-bottom: 20px;
  border-top: 1px dashed #ff7c55;
}

.footer-col2-text1 {
  margin: 0;
  padding-top: 20px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.65em;
  letter-spacing: 1px;
}

.footer-col2-text2 {
  margin: 0;
  padding-top: 18px;
  font-size: 0.72rem;
  font-weight: 300;
  line-height: 1.25em;
  letter-spacing: 1px;
}

.footer-col3 {
  padding-bottom: 7px;
  border-top: 1px dashed #ff7c55;
}

.footer-col3 ul {
  list-style: none;
  margin: 0;
  padding-top: 4px;
  padding-left: 0;
}

.footer-col3 ul li a {
  color: #ff7c55;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 3.5em;
}

.footer-col4 {
  padding-bottom: 4px;
  border-top: 1px dashed #ff7c55;
}

.footer-col4-headline {
  font-size: 0.5rem;
  font-weight: 300;
  margin-top: 22px;
  margin-bottom: 0;
}

.footer-col4-text {
  font-size: 1.15rem;
  font-weight: 300;
  margin-top: 5px;
  letter-spacing: 1px;
}

.footer-col5 {
  padding-bottom: 0;
  border-top: 1px dashed #ff7c55;
  border-bottom: 1px dashed #ff7c55;
}

.footer-col5 ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 14px 0;
}

.footer-col5 ul li a {
  color: #ff7c55;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.5rem;
  letter-spacing: 1px;
  line-height: 3.4em;
  padding-right: 35px;
}

/* -----Contact Bar Section----- */
.contact-bar {
  background-color: #e1e4ee;
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: -75px;
  left: 0;
  transition: bottom 0.4s ease-in-out;
  z-index: 99;
}

.contact-bar-container {
  width: 100%;
  display: flex;
}

.contact-bar-col1 {
  width: 50%;
  display: flex;
  padding-left: 16px;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.contact-bar-col1 p {
  padding-left: 30px;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.contact-bar-img {
  padding-left: 10px;
  padding-right: 10px;
}

.contact-bar-img3 {
  width: 39px;
}

.contact-bar-col2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #000;
}

.contact-bar-button {
  width: 289px;
  height: 75px;
  border-radius: 0;
  background-color: #ff7c55;
  font-size: 0.75rem;
  font-weight: bold;
  transition: color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  border-top: 0;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  outline-width: thin;
}

.contact-bar-button:hover {
  color: #fff;
  background-color: #000;
}

.contactQuestion {
  display: none;
}

/* -----Modal Section----- */
.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.modal-nav {
  background-color: rgba(0, 0, 0, 0.9);
  height: 50px;
  display: flex;
  opacity: 0.5;
}

.slide-nav-left,
.slide-nav-right {
  width: 50%;
  display: inherit;
  align-items: center;
  padding-left: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
}

.slide-nav-right {
  justify-content: flex-end;
  padding-right: 10px;
}

.zoom-in,
.zoom-out,
.close {
  height: 40px;
  width: 35px;
  padding-left: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.zoom-in {
  background-image: url(../img/zoom-in.svg);
}

.zoom-out {
  background-image: url(../img/zoom-out.svg);
  pointer-events: none;
}

.close {
  background-image: url(../img/close.svg);
}

.modal-image {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -99;
}

.modal-image-container {
  width: 300%;
  position: relative;
  display: flex;
  overflow-x: hidden;
  left: -000%;
  transition: left 0.3s linear;
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  padding: 0px;
  width: 33.333%;
  height: auto;
  object-fit: none;
}

.slide-left-arrow,
.slide-right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 80px;
  width: 50px;
  opacity: 0.5;
  cursor: pointer;
  background-color: #aaa;
}

.slide-left-arrow {
  left: 0px;
  transform: translate(0, -50%) rotate(180deg);
  display: none;
}

.slide-right-arrow {
  right: 0px;
}

.slide-left-arrow svg,
.slide-right-arrow svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-left-arrow:hover,
.slide-right-arrow:hover {
  background-color: #555;
}

/*-----Mobile Nav Menu-----*/
.navbar-mobile {
  width: 100%;
  min-height: 100%;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 60px;
  display: none;
}

.navbar-mobile a {
  width: 100%;
  text-decoration: none;
}

.navbar-m-row {
  height: 68px;
  width: 100%;
  background-color: #eee;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  color: #000;
}

.navbar-m-row5 {
  border-bottom: 0;
  justify-content: space-between;
}

.navbar-m-row6 {
  background-color: #ff7c55;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.text-m {
  margin: 0;
  padding: 0 0 0 30px;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-m-row5 div {
  width: 40%;
  text-align: right;
  padding-right: 30px;
}

.nav-m-icon2 {
  padding-left: 10px;
}

.navbar-m-row6:hover {
  background-color: #000;
  color: #fff;
}
