* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

/* -----Main Page----- */
.main-window {
  position: relative;
}

.intro-video-d {
  width: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}

.intro-video-m {
  width: 100%;
  object-fit: contain;
  object-position: center;
  display: none;
  position: relative;
  top: 60px;
}

/* -----Nav Bar----- */
.navbar {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-mobile {
  display: none;
}

.nav-container1 {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-container2 {
  width: 289px;
  height: 60px;
  border-left: 1px solid #000;
}

.nav-container3 {
  display: none;
}
.nav-container4 {
  display: none;
  border-left: 0;
  width: 24px;
  height: 24px;
  margin-right: 24px;
  position: relative;
  transition: 0.3s ease all;
  cursor: pointer;
}

.logo {
  padding-left: 32px;
  width: 10.2rem;
  height: 2rem;
}

.menu-list {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.menu-items {
  list-style: none;
  display: flex;
  align-content: center;
}

.menu-items a {
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
}

.menu-item1 {
  margin-left: 42px;
  letter-spacing: 0.4px;
}

.menu-item2 {
  margin-left: 42px;
  letter-spacing: 0.9px;
}

.menu-item3 {
  margin-left: 42px;
}

.menu-item4 {
  margin-left: 42px;
  margin-right: 10px;
  letter-spacing: 0.3px;
}

.nav-estimate {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 99%;
  background-color: #ff7c55;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
}

.nav-estimate:hover {
  background-color: #000;
  color: #fff;
}

/* -----Splash----- */
.container-splash {
  width: 50%;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 25%;
}

.section-splash-mobile {
  display: none;
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 248px;
  background-color: #eee;
  padding: 24px 0;
  justify-content: center;
}

.splash-title {
  margin: 19px 0 0 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 2.47rem;
}

.splash-blurb {
  margin: 30px 0 39px 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}

.splash-button {
  border: 0;
  border-radius: 0;
  height: 37px;
  width: 250px;
  background-color: #ff7c55;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
}

.splash-button:hover {
  background-color: #000;
  color: #fff;
}

/* -----Beige Section----- */
.section-beige-desktop,
.section-beige-container {
  height: 235px;
  width: 100%;
  background-color: #f4eade;
  display: flex;
  align-items: center;
}

.section-beige-mobile {
  display: none;
}

.beige-row1 {
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.beige-col {
  width: 170px;
  text-align: center;
}

.beige-col p {
  margin: 10px 0 0 0;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0 5px;
  letter-spacing: 1.6px;
  line-height: 14px;
}

/* -----Brown Section----- */
.section-brown {
  background-color: #dcd5ce;
  width: 100%;
  padding: 91px 30px 115px;
}

.brown-container {
  width: 100%;
  max-width: 1100px;
}

.brown-row1 {
  width: 100%;
  padding: 20px 0 124px;
  display: flex;
}

.brown-row1-col1 {
  width: 400px;
}

.brown-row1-col1 h2 {
  padding: 0;
  margin: 0;
  font-size: 39px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.brown-row1-col2 {
  width: 57%;
}

.brown-row1-col2 p {
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 29px;
}

.brown-learn-more {
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding: 0 2px 2px 0;
}

.brown-row2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.brown-row2-col {
  width: 210px;
}

.brown-image1-container,
.brown-image2-container,
.brown-image3-container {
  background-position: right;
  background-size: 215px 285px;
  background-repeat: no-repeat;
  height: 270px;
  padding: 17px 0 0 20px;
}

.brown-image1-container {
  background-image: url("../img/hiw_1_2x.jpg");
}

.brown-image2-container {
  background-image: url("../img/hiw_2_2x.jpg");
}

.brown-image3-container {
  background-image: url("../img/hiw_3_2x.jpg");
}

.brownImage1,
.brownImage2,
.brownImage3 {
  display: none;
}

.brown-numbers {
  font-size: 2.25rem;
  font-weight: 300;
}

.brown-title {
  margin: 21px 0;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.brown-text {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 20px;
}

/* -----Pic-Lg Section----- */
.section-pic-lg {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../img/D_Home_04.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1470px;
}

.pic-lg-container {
  position: absolute;
  width: 350px;
  top: 36%;
  text-align: center;
}

.pic-lg-title {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: 1px;
}

.pic-lg-button {
  background-color: #ff7c55;
  border: 0;
  border-radius: 0;
  height: 37px;
  width: 250px;
  font-family: lucida-sans, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
}

.pic-lg-button:hover {
  background-color: #000;
  color: #fff;
}

/* -----Light Grey Section----- */

.section-light-grey {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
  text-align: center;
  position: relative;
}

.light-grey-container {
  padding: 95px 30px;
  display: inline-flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  position: relative;
}

.light-grey-col1 {
  height: auto;
  width: 25%;
  max-width: 280px;
  padding-right: 30px;
  position: relative;
  text-align: left;
}

.light-grey-col2 {
  width: 735px;
  height: 481px;
  position: relative;
}

.light-grey-container2 {
  width: 100%;
  position: absolute;
}

.light-grey-img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.light-grey-title {
  margin: 0;
  font-weight: 300;
  font-size: 2.5rem;
  padding-bottom: 14px;
}

.light-grey-text1 {
  height: auto;
  padding: 0 18px 0px 0;
  font-weight: 300;
  font-size: 1rem;
  line-height: 25px;
}

.underline {
  margin-right: 0px;
  border-top: 1px dashed #000;
}

.light-grey-text2 {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0 32px 0 0;
  font-weight: bold;
  font-size: 0.75rem;
}

.light-grey-text3 {
  margin: 0;
  padding: 0 32px 0 0;
  font-weight: 400;
  font-size: 0.8rem;
}

.light-grey-button {
  position: absolute;
  bottom: 0;
  background-color: #ff7c55;
  border: 0;
  border-radius: 0;
  height: 45px;
  width: 100%;
  max-width: 250px;
  font-family: lucida-sans, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
}

.light-grey-button-m {
  display: none;
}

.prev-link,
.next-link {
  background-color: #ff7c55;
  position: absolute;
  height: 45px;
  width: 45px;
  transition: background-color 0.1s ease-in;
}

.prev-link {
  bottom: 0;
  left: 0;
}

.next-link {
  bottom: 0;
  right: 0;
}

.prev-link-gone {
  display: none;
}

.next-link-gone {
  display: none;
}

.prev1 {
  height: 45px;
  width: 45px;
  background-image: url(../img/arrow-black.d28a9f3c.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
  transition: color 0.1s ease-in;
}

.next1 {
  height: 45px;
  width: 45px;
  background-image: url(../img/arrow-black.d28a9f3c.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: color 0.1s ease-in;
}

.light-grey-button:hover,
.prev-link:hover,
.next-link:hover {
  background-color: #000;
  color: #fff;
}

.prev1:hover,
.next1:hover {
  background-image: url(../img/arrow-white.11bad665.svg);
}

.light-grey-col2-blurb {
  position: absolute;
  bottom: -39px;
  left: 50%;
  transform: translate(-50%);
}

.light-grey-col2-text {
  font-weight: 400;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

/* -----Light Blue Section----- */

.light-blue {
  width: 100%;
  background-color: #e1e4ee;
  padding: 90px 0 100px;
}

.light-blue-container {
  padding: 0 30px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.light-blue-row1 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.light-blue-title {
  margin: 0;
  font-weight: 300;
  font-size: 2.6rem;
}

.light-blue-text {
  margin: 34px 0 82px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.light-blue-row2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.light-blue-row2-col1 {
  width: 46%;
}

.light-blue-row2-col2 {
  width: 46%;
}

.light-blue-row2-col1-rowa,
.light-blue-row2-col2-rowa {
  border: 1px dashed #000;
  height: 128px;
  text-align: center;
  padding-top: 18px;
}

.light-blue-row2-col1-rowb,
.light-blue-row2-col1-rowc,
.light-blue-row2-col1-rowd,
.light-blue-row2-col1-rowe,
.light-blue-row2-col2-rowb,
.light-blue-row2-col2-rowc,
.light-blue-row2-col2-rowd,
.light-blue-row2-col2-rowe {
  height: 96px;
  border-bottom: 1px dashed #000;
  border-left: 1px dashed #000;
  border-right: 1px dashed #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
}

.light-blue-row2-col1-rowa {
  background-color: #ff7c55;
}

.light-blue-row2-col1-rowb,
.light-blue-row2-col1-rowc,
.light-blue-row2-col1-rowd,
.light-blue-row2-col1-rowe {
  background-color: #e7e7e7;
}

.light-blue-row2-col2-rowf {
  padding-top: 20px;
  text-align: center;
}

.light-blue-title-a-row2 {
  margin-top: 16px;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.light-blue-title-b-row2 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 2.17rem;
  letter-spacing: 1px;
  position: relative;
}

.dollar-sign {
  font-size: 0.8rem;
  vertical-align: super;
}

.light-blue-text-row2 {
  margin: 0;
  padding-left: 20px;
  font-weight: 300;
  font-size: 1rem;
}

.cross {
  width: 13px;
  height: 13px;
}

.remodeler-link {
  color: #000;
  font-size: 0.75rem;
  font-weight: 300;
}

/* -----Pic-Lg Section----- */
.bathroom-photo {
  width: 100%;
  height: 570px;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(../img/D_Home_05.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1300px;
}

.pic-bathroom-container {
  position: absolute;
  width: 350px;
  top: 36%;
  text-align: center;
}

.pic-bathroom-title {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: 1px;
}

.pic-bathroom-button {
  background-color: #ff7c55;
  border: 0;
  border-radius: 0;
  height: 37px;
  width: 250px;
  font-family: lucida-sans, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
}

.pic-bathroom-button:hover {
  background-color: #000;
  color: #fff;
}

/* -----Peach Section----- */
.section-peach {
  background-color: #f6eadd;
  width: 100%;
}

.peach-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.peach-row1 {
  width: 100%;
  text-align: center;
}

.peach-title {
  margin: 0;
  padding-top: 90px;
  font-weight: 300;
  font-size: 2rem;
  font-size: 2.45rem;
}

.peach-text {
  margin: 0;
  padding-top: 42px;
  font-size: 1.45rem;
  font-weight: 300;
}

.peach-row2 {
  margin: 88px 30px 0;
  display: flex;
  justify-content: center;
}

.peach-row2-col1 {
  width: 457px;
  margin-right: 10px;
  padding-bottom: 30px;
  background-color: #e0dfdf;
}

.peach-row2-col2 {
  width: 485px;
  margin-left: 10px;
  background-color: #e0dfdf;
}

.peach-row2-col1-container,
.peach-row2-col2-container {
  padding: 30px;
  height: 560px;
  position: relative;
}

.review-name {
  margin-top: 13px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 0.9rem;
}

.review-location {
  margin-top: 10px;
  margin-bottom: 39px;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.review-stars {
  display: flex;
}

.review-star {
  padding-bottom: 10px;
}

.review-headline {
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.45em;
  padding-bottom: 6px;
}

.review-text {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.6px;
  line-height: 1.45em;
  padding-right: 10px;
  padding-bottom: 18px;
}

.review-link {
  color: #000;
  font-size: 0.75rem;
  font-weight: bold;
}

.review-thumbnails {
  position: absolute;
  bottom: 15px;
  display: flex;
}

.review-pic {
  width: 90px;
  height: 80px;
  padding-right: 10px;
  cursor: pointer;
}

.washed-out-image {
  background-color: #fff;
  height: 80px;
  width: 80px;
  position: relative;
}

.review-pic3a {
  opacity: 0.4;
  width: 80px;
  object-fit: cover;
  object-position: left;
  background-color: #fff;
  padding-right: 0;
}

.review-pic-num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.peach-row3 {
  margin-top: 91px;
  padding-bottom: 95px;
  text-align: center;
}

.review-button {
  background-color: #ff7c55;
  border: 0;
  border-radius: 0;
  height: 37px;
  width: 250px;
  font-family: lucida-sans, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-in;
  cursor: pointer;
  outline-width: thin;
}

.review-button:hover {
  color: #fff;
  background-color: #000;
}

/* -----Footer Section----- */
.footer {
  background-color: #000;
  color: #ff7c55;
  height: 540px;
}

.footer-container {
  padding: 64px 30px 0px 30px;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-col1,
.footer-col2,
.footer-col3,
.footer-col4 {
  width: 20%;
  margin-top: 0;
  margin-right: 30px;
  border-top: 1px dashed #ff7c55;
}

.footer-col5 {
  width: 20%;
  border-top: 1px dashed #ff7c55;
}

.footer-col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding-top: 5px;
}

.footer-col1-text1 {
  font-size: 2.9rem;
}

.footer-col2-text1 {
  margin: 0;
  padding-top: 20px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25em;
  letter-spacing: 1px;
}

.footer-col2-text2 {
  margin: 0;
  padding-top: 18px;
  font-size: 0.72rem;
  font-weight: 300;
  line-height: 1.25em;
  letter-spacing: 1px;
}

.footer-col3 ul {
  list-style: none;
  margin: 0;
  padding-top: 5px;
  padding-left: 0;
}

.footer-col3 ul li a {
  color: #ff7c55;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 3.5em;
}

.footer-col4-headline {
  font-size: 0.5rem;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-col4-text {
  font-size: 1.15rem;
  font-weight: 300;
  margin-top: 5px;
  letter-spacing: 1px;
}

.footer-col5 ul {
  list-style: none;
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
}

.footer-col5 ul li a {
  color: #ff7c55;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.05rem;
  letter-spacing: 1px;
  line-height: 3.4em;
}

/* -----Contact Bar Section----- */
.contact-bar {
  background-color: #e1e4ee;
  width: 100%;
  height: 64px;
  position: fixed;
  bottom: -64px;
  left: 0;
  transition: bottom 0.4s ease-in-out;
  z-index: 99;
}

.contact-bar-container {
  width: 100%;
  display: flex;
}

.contact-bar-col1 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.contact-bar-col1 p {
  padding-left: 30px;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.contact-bar-img {
  padding-left: 10px;
}

.contact-bar-img3 {
  width: 29px;
}

.contact-bar-col2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #000;
}

.contact-bar-button {
  width: 289px;
  height: 62px;
  border-radius: 0;
  background-color: #ff7c55;
  font-size: 0.75rem;
  font-weight: bold;
  transition: color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  border-top: 0;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  outline-width: thin;
}

.contact-bar-button:hover {
  color: #fff;
  background-color: #000;
}

/* -----Modal Section----- */
.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.modal-nav {
  background-color: rgba(0, 0, 0, 0.9);
  height: 50px;
  display: flex;
  opacity: 0.5;
}

.slide-nav-left,
.slide-nav-right {
  width: 50%;
  display: inherit;
  align-items: center;
  padding-left: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
}

.slide-nav-right {
  justify-content: flex-end;
  padding-right: 10px;
}

.zoom-in,
.zoom-out,
.close {
  height: 40px;
  width: 35px;
  padding-left: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.zoom-in {
  background-image: url(../img/zoom-in.svg);
}

.zoom-out {
  background-image: url(../img/zoom-out.svg);
  pointer-events: none;
}

.close {
  background-image: url(../img/close.svg);
}

.modal-image {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -99;
}

.modal-image-container {
  width: 300%;
  position: relative;
  display: flex;
  overflow-x: hidden;
  left: -000%;
  transition: left 0.3s linear;
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  padding: 0px;
  width: 33.333%;
  height: auto;
  object-fit: none;
}

.slide-left-arrow,
.slide-right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 80px;
  width: 50px;
  opacity: 0.5;
  cursor: pointer;
  background-color: #aaa;
}

.slide-left-arrow {
  left: 0px;
  transform: translate(0, -50%) rotate(180deg);
  display: none;
}

.slide-right-arrow {
  right: 0px;
}

.slide-left-arrow svg,
.slide-right-arrow svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-left-arrow:hover,
.slide-right-arrow:hover {
  background-color: #555;
}
