@media only screen and (min-width: 1300px) {
  .section-pic-lg,
  .bathroom-photo {
    background-size: cover;
  }

  .contact-bar-img {
    padding-left: 20px;
  }

  .contact-bar-img3 {
    width: 39px;
  }
}

@media only screen and (min-width: 1261px) {
  .brown-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .brown-row2-col {
    width: 285px;
  }

  .brown-image1-container,
  .brown-image2-container,
  .brown-image3-container {
    background-size: 285px 370px;
    height: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  .img1,
  .img2,
  .img3,
  .img4,
  .img5 {
    padding: 0 200px;
    width: 33.333%;
    height: auto;
    object-fit: contain;
  }

  .slide-left-arrow,
  .slide-right-arrow {
    background-color: transparent;
  }

  .slide-left-arrow {
    left: 10px;
  }

  .slide-right-arrow {
    right: 10px;
  }

  .slide-left-arrow:hover,
  .slide-right-arrow:hover {
    background-color: #333;
  }
}

@media only screen and (max-width: 989px) {
  /* -----Main Page----- */
  .intro-video-d {
    display: none;
  }

  .intro-video-m {
    display: block;
  }

  /* -----Nav Bar----- */
  .navbar {
    background-color: #eee;
  }

  .nav-container1,
  .nav-container2 {
    display: none;
  }

  .nav-container3,
  .nav-container4 {
    display: block;
  }

  .nav-container4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: 0.3s ease all;
  }

  .hamburger1 {
    top: 4px;
    transition: 0.2s;
  }

  .hamburger2 {
    top: 10px;
    transition: 0.2s;
  }

  .hamburger3 {
    top: 16px;
    transition: 0.2s;
  }

  .change .hamburger1 {
    transform: translate(-0px, 6px) rotate(45deg);
    -webkit-transform: translate(0px, 6px) rotate(45deg);
    -moz-transform: translate(0px, 6px) rotate(45deg);
  }

  .change .hamburger2 {
    opacity: 0;
  }

  .change .hamburger3 {
    transform: translate(-0px, -6px) rotate(-45deg);
    -webkit-transform: translate(-0px, -6px) rotate(-45deg);
    -moz-transform: translate(-0px, -6px) rotate(-45deg);
  }

  .logo {
    padding-left: 0;
    height: 1.6rem;
  }

  /*-----Mobile Nav Menu-----*/

  .navbar-mobile {
    width: 100%;
    min-height: 100%;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 60px;
    display: none;
  }

  .navbar-mobile a {
    width: 100%;
    text-decoration: none;
  }

  .navbar-m-row {
    height: 68px;
    width: 100%;
    background-color: #eee;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    color: #000;
  }

  .navbar-m-row5 {
    border-bottom: 0;
    justify-content: space-between;
  }

  .navbar-m-row6 {
    background-color: #ff7c55;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  .text-m {
    margin: 0;
    padding: 0 0 0 30px;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .navbar-m-row5 div {
    width: 40%;
    text-align: right;
    padding-right: 30px;
  }

  .nav-m-icon2 {
    padding-left: 10px;
  }

  .navbar-m-row6:hover {
    background-color: #000;
    color: #fff;
  }

  /* -----Splash----- */
  .container-splash {
    width: 40%;
    top: 50%;
    left: 30%;
  }

  .splash-title {
    margin: 0;
    font-size: 2rem;
  }

  .splash-blurb {
    display: none;
  }

  .splash-button {
    display: none;
  }

  .section-splash-mobile {
    display: flex;
  }

  .container-splash-mobile {
    width: 300px;
    text-align: center;
  }

  .splash-blurb-m {
    margin: 20px 0 44px 0;
    font-family: lucida-sans, sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.2em;
  }

  .splash-button-m {
    border: 0;
    border-radius: 0;
    height: 37px;
    width: 250px;
    background-color: #ff7c55;
    font-family: lucida-sans, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: background-color 0.1s ease-in;
    transition: color 0.1s ease-in;
    cursor: pointer;
    outline-width: thin;
  }

  .splash-button-m:hover {
    background-color: #000;
    color: #fff;
  }

  /* -----Beige Section----- */
  .section-beige-desktop {
    display: none;
  }

  .section-beige-mobile {
    display: flex;
  }

  .beige-col1a,
  .beige-col2a {
    padding-top: 41px;
  }

  .beige-col3a,
  .beige-col4a,
  .beige-col5a {
    padding-top: 40px;
  }

  .beige-col1a img {
    width: 135px;
    margin: 0 auto;
  }

  .beige-col2a img {
    width: 79px;
    margin: 0 auto;
  }

  .beige-col3a img {
    width: 124px;
    margin: 0 auto;
  }

  .beige-col4a img {
    width: 165px;
    margin: 0 auto;
  }

  .beige-col5a img {
    width: 125px;
    margin: 0 auto;
  }

  .beige-col1a p,
  .beige-col2a p,
  .beige-col3a p,
  .beige-col4a p,
  .beige-col5a p {
    font-size: 0.7rem;
    width: 160px;
    margin: 0 auto;
    padding-top: 10px;
  }

  /* -----Brown Section----- */
  .section-brown {
    padding: 26px 30px 30px;
  }

  .brown-container {
    max-width: none;
  }

  .brown-row1 {
    padding: 20px 0 50px;
    display: block;
  }

  .brown-row1-col1 {
    width: 100%;
    padding-bottom: 23px;
  }

  .brown-row1-col1 h2 {
    font-size: 31px;
  }

  .brown-row1-col2 {
    width: 100%;
    max-width: 660px;
  }

  .brown-row1-col2 p {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }

  .brown-row2 {
    display: block;
    justify-content: center;
  }

  .brown-row2-col {
    width: 100%;
  }

  .brown-image1-container,
  .brown-image2-container,
  .brown-image3-container {
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
  }

  .brown-image1-container {
    background-image: url("../img/hiwa_m_3x.jpg");
  }

  .brown-image2-container {
    background-image: url("../img/hiwb_m_3x.jpg");
  }

  .brown-image3-container {
    background-image: url("../img/hiwc_m_3x.jpg");
  }

  .brownImage1,
  .brownImage2,
  .brownImage3 {
    display: block;
    width: 100%;
    height: auto;
  }

  .brown-numbers {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .brown-title {
    margin: 25px 0 14px;
  }

  .brown-text1-container,
  .brown-text2-container,
  .brown-text3-container {
    padding-bottom: 27px;
  }

  /* -----Pic-Lg Section----- */
  .section-pic-lg {
    height: 280px;
    background-image: url(../img/We_ve_Got_Your_Back_2x.jpg);
    background-position: left center;
    background-size: 100%;
  }

  .pic-lg-container {
    width: 100%;
    top: 32%;
  }

  .pic-lg-title {
    margin: 0 0 26px;
    font-size: 1.75rem;
  }

  /* -----Light Blue Section----- */
  .light-blue {
    padding: 45px 0 90px;
  }

  .light-blue-container {
    max-width: none;
  }

  .light-blue-row1 {
    width: 80%;
    margin: 0;
    text-align: left;
  }

  .light-blue-title {
    font-size: 2rem;
  }

  .light-blue-text {
    margin: 22px 0 42px;
    font-size: 0.85rem;
    line-height: 23px;
    letter-spacing: 0;
  }

  .light-blue-row2-col1 {
    width: 49%;
  }

  .light-blue-row2-col2 {
    width: 49%;
  }

  .light-blue-row2-col1-rowb,
  .light-blue-row2-col1-rowc,
  .light-blue-row2-col1-rowd,
  .light-blue-row2-col1-rowe,
  .light-blue-row2-col2-rowb,
  .light-blue-row2-col2-rowc,
  .light-blue-row2-col2-rowd,
  .light-blue-row2-col2-rowe {
    height: 95px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .light-blue-row2-col2-rowf {
    text-align: left;
    position: relative;
  }

  .light-blue-text-row2 {
    font-size: 0.85rem;
  }

  .remodeler-link {
    position: absolute;
    left: -75px;
    top: 32px;
    width: 150px;
  }

  /* -----Pic-Lg Section----- */
  .bathroom-photo {
    height: 280px;
    background-image: url(../img/Build_Bathroom_For_Life_2x.jpg);
    background-size: 102%;
  }

  .pic-bathroom-container {
    width: 100%;
    top: 32%;
  }

  .pic-bathroom-title {
    margin: 0 0 28px;
    font-size: 1.75rem;
  }
  /* -----Light Grey Section----- */

  .section-light-grey {
    height: auto;
  }

  .light-grey-container {
    padding: 30px 0px 50px;
    display: block;
  }

  .light-grey-col1 {
    height: 263px;
    width: 100%;
    max-width: none;
    padding: 0 30px;
    margin-bottom: 0;
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .light-grey-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 9px 0 0px 0;
    font-size: 2rem;
  }

  .light-grey-text2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .light-grey-text3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .underline {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 100%;
  }

  .light-grey-text1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 100%;
    padding: 0;
  }

  .light-grey-col2 {
    width: 100%;
    height: auto;
  }

  .light-grey-container2 {
    width: 100%;
    position: relative;
  }

  .light-grey-img {
    height: auto;
  }

  .light-grey-col2-blurb {
    position: relative;
    bottom: 0;
  }

  .light-grey-button {
    display: none;
  }

  .light-grey-button-m {
    display: block;
    position: relative;
    margin-top: 10px;
    background-color: #ff7c55;
    border: 0;
    border-radius: 0;
    height: 45px;
    width: 100%;
    max-width: 250px;
    font-family: lucida-sans, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: background-color 0.1s ease-in;
    transition: color 0.1s ease-in;
    cursor: pointer;
    outline-width: thin;
    left: 50%;
    transform: translate(-50%);
  }

  .light-grey-button-m:hover {
    background-color: #000;
    color: #fff;
  }

  /* -----Peach Section----- */
  .peach-row1 {
    padding: 0 30px;
    text-align: left;
  }

  .peach-title {
    padding-top: 50px;
    font-size: 2rem;
  }

  .peach-text {
    padding-top: 30px;
    font-size: 1rem;
  }

  .peach-row2 {
    margin: 33px 30px 0;
    display: block;
  }

  .peach-row2-col1 {
    width: 100%;
    margin-right: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  .peach-row2-col2 {
    width: 100%;
    margin-left: 0px;
  }

  .peach-row2-col1-container,
  .peach-row2-col2-container {
    height: auto;
  }

  .review-name {
    margin-top: 17px;
  }

  .review-location {
    margin-bottom: 27px;
  }

  .review-headline {
    position: relative;
    font-size: 1.1rem;
    padding-bottom: 6px;
  }

  .review-text {
    position: relative;
    font-size: 0.9rem;
    padding-bottom: 14px;
  }

  .review-thumbnails {
    position: relative;
    bottom: 0;
    padding: 26px 0 20px;
  }

  .review-pic {
    width: 60px;
    height: 50px;
  }

  .washed-out-image {
    height: 50px;
    width: 60px;
  }

  .peach-row3 {
    margin-top: 48px;
    padding: 0 30px 53px;
  }

  .review-button {
    width: 100%;
  }

  /* -----Footer Section----- */
  .footer {
    height: auto;
  }

  .footer-container {
    padding: 10px 30px 122px 30px;
    display: block;
    max-width: none;
  }

  .footer-col1,
  .footer-col2,
  .footer-col3,
  .footer-col4,
  .footer-col5 {
    width: 100%;
    margin: 0;
  }

  .footer-col1 {
    padding: 40px 0 60px;
  }

  .footer-col2 {
    padding-bottom: 20px;
    border-top: 1px dashed #ff7c55;
  }

  .footer-col3 {
    padding-bottom: 7px;
    border-top: 1px dashed #ff7c55;
  }

  .footer-col4 {
    padding-bottom: 4px;
    border-top: 1px dashed #ff7c55;
  }

  .footer-col5 {
    padding-bottom: 0;
    border-top: 1px dashed #ff7c55;
    border-bottom: 1px dashed #ff7c55;
  }

  .footer-col5 ul {
    display: flex;
    margin: 0;
    padding: 14px 0;
  }

  .footer-col1-text1 {
    font-size: 2rem;
  }

  .footer-col2-text1 {
    line-height: 1.65em;
  }

  .footer-col3 ul {
    padding-top: 4px;
  }

  .footer-col4-headline {
    margin-top: 22px;
  }

  .footer-col5 ul li a {
    padding-right: 35px;
  }

  /* -----Contact Bar Section----- */
  .contact-bar {
    height: 75px;
    bottom: -75px;
  }

  .contact-bar-button {
    height: 75px;
  }

  .contactQuestion {
    display: none;
  }
}

@media only screen and (max-width: 689px) {
  .contact-bar-button {
    width: 250px;
  }
}
